// Custom.scss
// This is the file you will want to update to customize your page.

// Import Google fonts here
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Libre+Baskerville&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Libre+Baskerville:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Libre+Baskerville:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400&family=Source+Sans+3&display=swap');

$headings-font-family:'Libre Baskerville'

// Include any default variable overrides here (colors, font sizes, font family, etc..)
$primary: #A04ADD;
$secondary: #3B53C7; 
$success: #A4D882;
$info: #59C1EF; 
$warning: #FFF689;
$danger: #E5446D;
$light: #f2f2f2;
$dark: #181853;


// Adjust nav link hover color here



// Typography
// Change font family for base text


// Change font family for headings



// Change font sizes for h1-h6 using values in assignment



@import "../node_modules/bootstrap/scss/bootstrap";

// Add additional custom code here

// Target .navbar-brand and change font-family to use 'Libre Baskerville'.
